<html></html>
<head>
    <title>
        DELETE PAGE
    </title>
    <link rel="stylesheet" href="style.css">
</head>
<body align="center">
    <h3 class="c1">DELETE PRODUCT</h3>
    <form action="/delete" method="POST">
    <label> FASHION_ID:</label>
    <input type="text" placeholder="enter id" name="Fid">
    <br><br>
    <button id="delete">DELETE</button> 
    </form>
    <a href="/" class="c2">HOME</a>
</body>
</html>